$green:#33f468;
$blue:#51d5ff;
$blue-border:#a3e2f3;
$purple:#ff86dc;
$fcolor:#999999;
$bgcolor:#f8f8f8;
$header-bgcolor:#ff0000;
$pink-color:#ff5c5f;
$grey-color:#333;
//font-color
$white-font-color: #88adc3;
// background-color
$blue-theme-bg: #034188;
// font
$weuiFontEN:-apple-system-font,"Helvetica Neue";
$weuiFontCN:"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
$weuiFontSans:sans-serif;
$weuiFontDefault:$weuiFontEN,$weuiFontSans;

